.mainWindow {
    -fx-background-color: white;
    -fx-fill-width: true;
}

.openCloseButton {
    -fx-pref-width: 30;
    -fx-pref-height: 8;
    -fx-background-size: 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.openButton {
    -fx-background-image: url('/resources/assets/images/open_obj_panel.png');
}

.closeButton {
    -fx-background-image: url('/resources/assets/images/close_obj_panel.png');
}

#toolsPanelButtonWrapper {
    -fx-padding: 0;
    -fx-pref-height: 0;
}